body {
    margin: 0;
    background-image: url("dist/background_img.png");
    object-fit: cover;
    height: 100vh;
}

body > div {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body > div > div {
    background-color: #ffffff55;
    padding: 2rem;
    border-radius: 2rem;
}
